<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>DHT11 Sensor Data</title>
		<link rel="stylesheet" href="../static/css/styles.css"/>
		<link rel="stylesheet" href="../static/css/material.min.css"/>
		<script src="../static/js/material.min.js"></script>
		<script src="../static/js/raphael-2.1.4.min.js"></script>
		<script src="../static/js/justgage.js"></script>
	</head>
	<body>
		<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
		  <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
			<div class="mdl-layout__header-row">
			  <span class="mdl-layout-title">DHT11 Sensor Configuration Page</span>
			</div>
		  </header>
		  <main class="mdl-layout__content mdl-color--grey-100">
			
			<div class="mdl-grid demo-content">
			
			  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
				<h4 class="mdl-cell mdl-cell--12-col display-4 ">Cool, you have access to port 80 from the local network.</h4>
			  </div>
			  
			  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
				<h4 class="mdl-cell mdl-cell--12-col display-4 ">CDHT11 sensor wired to a RPi3.</h4>
				<img src="../static/images/wiring.png" class="mdl-cell mdl-cell--12-col" width="400px" height="800px">
			  </div>
			  
			  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
				<h4 class="mdl-cell mdl-cell--12-col display-4 ">DHT11 sensor datasheet can be found here.</h4>
				<a href="#" class="mdl-cell mdl-cell--2-col mdl-button mdl-js-button mdl-button--raised">Download</a>
			  </div>
			  
			</div>
		  </main>
		</div>
		<script>
		  var g = new JustGage({
			id: "gaugeTemperature",
			value: {{temperature}},
			min: 0,
			max: 40,
			title: "Temperature",
			label:"°C"
		  });
		  var g = new JustGage({
			id: "gaugeHumidity",
			value: {{humidity}},
			min: 0,
			max: 100,
			title: "Humidity",
			label: "%"
		  });
		</script>
		<script src="../static/js/material.min.js"></script>
	</body>
</html>
